# Github Personal Access Token
TOKEN=

# Node id
COLUMN_NODE_ID=

# @codex_bot notify URL
NOTIFIER_URL=

# List of people to tag in the «Pull Requests» message
MENTION=

# If using docker-compose set time there
# Default
# TIME="0 9 * * 1-5"
